@import "tailwindcss";

/*My Theme*/
@layer base {
  :root {
    --color-primary: #4a0e0e;
    --color-secondary: #c5a059;
    --color-surface-page: #faf9f6;
    --color-surface-form: #ffffff;
    --color-text-high: #000000;
    --color-text-medium: #605f5f;
  }

  body {
    background-color: var(--color-surface-page);
    color: var(--color-text-high);
    font-family: "Kadwa", serif;
  }
}
